    <div class="login-box">
        <h1 class="bg-red">Renvoyez les confirmations</h1>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
<div class="textbox">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>
  </div>

  <div class="actions">
    <%= f.submit "Renvoyer les confirmations", class: "bttn" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
