 </div>
 <div class="bodyy">
<div class="padding-top">
<div class="container-medium">
    <div class="categories"> |
        <% @categories.each do |category| %>
        <%= link_to category.category, articles_path(:cate => category.id), class: "category" %> |
        <% end %>
    </div>
 <center><h1 class="title bg-red">VIDEOS, PODCASTS & ARTICLES</h1></center>

	<div id="primary" class="content-area">
		<main id="main" class="site-main" role="main">
    
            <% @articles.each do |article| %>	
            		
		<div class="content">	
        <a href="<%= article_path(article.id) %>" class="no-decoration" >					  
            <div class="article">
            <div class="podcast-media-container ">
                <% if article.image.present? %>
                    <%= image_tag(article.image, class: "index-article-image") %>
                <% else %>
                    <%= image_tag "YO.png", class: "index-article-image" %>
                <% end %>
            </div>
            <div class="podcast-content-container ">
            <header>
                <div class="entry-meta">
                <time class="event-date"><%= article.created_at.strftime("%d/%m/%Y") %></time>
                </div>
                <h2 class="entry-title"><%= article.title %></h2>		
            </header>
                <p></p><p><%= sanitize article.content, length: 200, class: "twofifty" %></p>
                <p></p>
            </a>
            
            </div>
            

            </div>

            </div>
            <% end %>
        </div>
    
        <% if current_user && current_user.admin %>
           <center><%= link_to "Créer un article", new_article_path, class: "btn arrow marginplus"%> </center>
        <% end %>
</div>

</div>
</div>
</div>


 




</div>
