<div class="body">
    <div class="containercards">
        <div class="card">
            <div class="face face1">
                <div class="content1">
                    <%= image_tag  "mind.svg", size: "150", style: "margin-top: 50px" %>
                    <h3>MIND</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content1">
                    <p>Haec et huius modi quaedam innumerabilia ultrix facinorum impiorum bonorumque praemiatrix aliquotiens operatur Adrastia.</p>
                    <%= link_to "Voir plus", articles_path, class:"read"%>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="face face1">
                <div class="content1">
                    <%= image_tag  "body.svg",  size: "150", style: "margin-top: 50px" %>
                    <h3>BODY</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content1">
                    <p>Haec et huius modi quaedam innumerabilia ultrix facinorum impiorum bonorumque praemiatrix aliquotiens operatur Adrastia.</p>
                    <%= link_to "Voir plus", articles_path, class:"read"%>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="face face1">
                <div class="content1">
                    <%= image_tag  "spirit.svg",  size: "150", style: "margin-top: 50px" %>
                    <h3>SPIRIT</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content1">
                    <p>Haec et huius modi quaedam innumerabilia ultrix facinorum impiorum bonorumque praemiatrix aliquotiens operatur Adrastia.</p>
                    <%= link_to "Voir plus", articles_path, class:"read"%>
                </div>
            </div>
        </div>
    </div>
</div>