<div class="containersmall">


        <div class="article-titlee">
            <h1><%= @user.username %></h1>
        </div>

        <div class="field">
 <p><center> <%= image_tag(@user.avatar, class: "article-image padding") %> </center></p>
</div>

    <div class="article-content">
    <p> <%= @user.description %> </p>
    </div>


<p> <center> 
<%= link_to "Modifier", edit_user_path(@user.id), class: "btn" %>
<%= link_to "Retour", articles_path, class: "none paddingtop" %> </center></p>
</>
</div>