<div class="banner">
<%= image_tag "alps.jpg", class: "fullsize"%>
    <div class="login-box">
        <h1 class="bg-red">Changer le Mot de Passe</h1>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
  <div class="textbox">
    <%= f.label :password, "Nouveau mot-de-passe" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "nouveau mot-de-passe" %>
    </div>
  </div>

  <div class="field">
  <div class="textbox">
    <%= f.label :password_confirmation, "Confirmez ce mot-de-passe" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "confirmation mot-de-passe" %>
  </div>
  </div>

  <div class="actions">
    <%= f.submit "Changer mon mot de passe", class: "bttn" %>
  <%= render "devise/shared/links" %>
  </div>
<% end %>
</div>


</div>