 </div>
 

    <div class="categories"> |
        <% @categories.each do |category| %>
        <%= link_to category.category, articles_path(:cate => category.id), class: "category" %> |
        <% end %>
    </div>

<div class="container-medium">
 <center><h1 class="title bg-red">VIDEOS, PODCASTS & ARTICLES</h1></center>

            <%= render 'layouts/card'%>
            <%= render 'layouts/card'%>
            <%= render 'layouts/card'%>
            <%= render 'layouts/card'%>
            <%= render 'layouts/card'%>
            <%= render 'layouts/card'%>
            <%= render 'layouts/card'%>
            <%= render 'layouts/card'%>
            <%= render 'layouts/card'%>
            <%= render 'layouts/card'%>
 </>
</div>


</div>
</div>
 





