<%= link_to "/" do %>
 <%= image_tag  "MBT.png", class: "logo"  %>
<% end %>
 <div class="menu-wrap">
     <input type="checkbox" class="toggler">
     <div class="hamburger">
         <div>
         </div>
     </div>
     <div class="menu">
     
         <div>
             <div>
                 <ul>
                     <%= link_to "VIDEOS, PODCAST & ARTICLES", articles_path, class:"li a" %>
                    <% if user_signed_in? %>
                        <%= link_to "SE DÉCONNECTER", destroy_user_session_path, class:"li a"   %>
                        <%= link_to "MODIFIER MON PROFIL", edit_user_registration_path, class:"li a" %>
                    <% else %>
                        <%= link_to "SE CONNECTER", new_user_session_path, class:"li a" %>
                        <%= link_to "S'INSCRIRE", new_user_registration_path, class:"li a" %>
                    <% end %>
                     <%= link_to "BOOTCAMPS", articles_path, class:"li a" %>
                 </ul>
             </div>
         </div>
     </div>
 </div>