 <%= image_tag  "mindbo.png", class: "logo"  %>


 <div class="menu-wrap">
     <input type="checkbox" class="toggler">
     <div class="hamburger">
         <div>
         </div>
     </div>
     <div class="menu">
         <div>
             <div>
                 <ul>
                     <%= link_to "Videos, Podcasts & Articles", articles_path, class:"li a" %>
                     <%= link_to "Se Connecter", new_user_session_path, class:"li a" %>
                     <%= link_to "S'inscrire", new_user_registration_path, class:"li a" %>
                     <%= link_to "Bootcamps", articles_path, class:"li a" %>

                     <li>
                 </ul>
             </div>
         </div>
     </div>
 </div>